$gap__fixed--h--narrow: 5px;
$gap__fixed--h: 10px;
$gap__fixed--h--wide: 20px;
$gap__fixed--v: 20px;
$gap__fixed--v--short: 8px;
$gap__fixed--v--tall: 50px;
$gutter: 20px;

$container: 1200px;
$container--narrow: 700px;
