$font_size: (
        l0: 1.2rem,
        l1: 1.1rem,
        l2: 1rem,
        l3: .8rem,
        l4: .8rem,
        l5: .8rem,
        url: .75em,
        flag: .7rem,
);

$font: (
        base: ('Ubuntu', sans-serif),
        //heading: ('Fredericka the Great', cursive),
        heading: ('Rubik Mono One', sans-serif),
        //flag: ('Rubik Mono One', sans-serif),
        flag: ('Heebo', sans-serif),
)

