.legend {
  border: 1px solid $color--grey--lines;
  padding: $gap__fixed--h;
  max-width: 1000px;
  width: 100%;
  margin: $gap__fixed--v--tall auto;
  text-align: center;
}
.legend__caption {
  margin-bottom: $gap__fixed--v--short;
}
.legend__types {
  margin-top: $gap__fixed--v--short;
  display: flex;
  justify-content: space-around;
}
.legend__icons {
  margin-top: $gap__fixed--v--short;
  display: flex;
  justify-content: space-around;
  svg {
    margin: 0 $gap__fixed--h--narrow 0 0;
  }
}
.legend__item {
  display: flex;
  align-items: center;
  .section__flag {
    margin: 0 $gap__fixed--h--narrow 0 0;
    align-items: center;
  }
}
