.notes {
  @include container_narrow;
}

.notes__section-title {
  text-align: center;
}

.notes__content {
  @include margin_bottom();
  p {
    margin: .25em;
  }
  p:last-child {
    @include margin_bottom();
  }
}

